/*VISIBILITY*/
#startpage {
	visibility: visible;
}

#coneorcup {
	visibility: hidden;
}

#decisions {
	visibility: hidden;
}

#cart {
	visibility: hidden;
}

#thanks {
	visibility: hidden;
}

#data {
	visibility: hidden;
}

#startpage, #coneorcup, #decisions, #cart, #data, #thanks {
	top: 200px;
	width: 800px;
	position: absolute;
	left: -400px;
	margin-left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

fieldset {
	width : 230px;
}
input{
	display: block;
}

#price {
	backgroundcolor: #ffffff;
	visibility: hidden;
	bottom: 0px;
	width: 800px;
	position: absolute;
	left: -400px;
	margin-left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1, legend, #thanks{
	font-family: 'Amatic SC', cursive;
	font-size: 25pt;
	color:#00e68a;
	display: flex;
	align-items: center;
	justify-content: center;
}
button {
	font-family: 'Amatic SC', cursive;
    background-color: #ffffff; 
    border: solid 1pt;
    color: #000000;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}
/*STARTPAGE*/
#header{
	font-family: 'Montserrat', sans-serif;
	color:#ffcce6;
	font-size: 50pt;
}
#neworder{
	padding: 10px 16px;
	font-size: 40px;
}
/*CONEORCUP*/
#cup{
	width: 170px;
}
#choose{
    padding-right: 30px;
    color: #000000;
}
/*DECISIONS*/
#confirm{
	position: absolute;
	bottom: 0px;
}
/*CART*/
#buttons, #commit{
	position:absolute;
	bottom: -60px;
}
#anotherorder{
	margin-right: 20px;
}
/*THANKS*/